In [7]:
import pandas as pd


df_encadrement = pd.read_csv("../../data/logement-encadrement-des-loyers.csv", sep=";")

df_quartier = pd.read_csv("../../data/quartier_paris.csv", sep=";")

df_loyer = pd.read_csv("../../data/LoyersFinal.csv", sep=",")


df_encadrement[(df_encadrement['Numéro du quartier'] == 14) 
               & (df_encadrement['Année'] == 2024) 
               & (df_encadrement['Type de location'] == 'meublé') 
               & (df_encadrement['Epoque de construction'] == 'Avant 1946') 
               & (df_encadrement['Nombre de pièces principales'] == 1)]['Loyers de référence majorés'].values[0] * 25

1125.0

https://fr.wikipedia.org/wiki/Liste_des_quartiers_administratifs_de_Paris#:~:text=Les%2080%20quartiers%20administratifs%20constituent,l'administration%20publique%20%C3%A0%20Paris

Les Numéro des quartiers de Paris sont de 1 à 80. Les quartiers sont regroupés en 20 arrondissements, chaque arrondissement étant divisé en quatre quartiers administratifs.

In [4]:
set(df_quartier['C_QU'].values) == set(df_encadrement['Numéro du quartier'].values)

True

In [8]:
df_loyer

,list_id,first_publication_date,price,latitude,longitude,urls,nb_pieces,surface
0,2935092355,2025-02-11 20:55:23,500,48.884100,2.290130,https://www.leboncoin.fr/ad/locations/2935092355,1.0,9.0
1,2934896366,2025-02-11 15:40:22,500,48.887150,2.334070,https://www.leboncoin.fr/ad/locations/2934896366,1.0,11.0
2,2915917705,2025-01-08 21:48:00,500,48.886256,2.370498,https://www.leboncoin.fr/ad/locations/2915917705,1.0,7.0
3,2930327536,2025-02-03 09:13:00,500,48.888351,2.359744,https://www.leboncoin.fr/ad/locations/2930327536,1.0,10.0
4,2933109540,2025-02-08 16:20:09,500,48.868210,2.372550,https://www.leboncoin.fr/ad/locations/2933109540,1.0,9.0
...,...,...,...,...,...,...,...,...
1189,2915282484,2025-01-07 19:54:12,1500,48.885710,2.325020,https://www.leboncoin.fr/ad/locations/2915282484,2.0,30.0
1190,2915239385,2025-01-07 18:36:38,1500,48.874090,2.347930,https://www.leboncoin.fr/ad/locations/2915239385,2.0,45.0
1191,2911754446,2025-01-01 20:54:27,1500,48.887250,2.343220,https://www.leboncoin.fr/ad/locations/2911754446,2.0,27.0
1192,2908358055,2024-12-25 16:02:00,1500,48.858030,2.274490,https://www.leboncoin.fr/ad/locations/2908358055,1.0,26.0
1193,2901998278,2024-12-12 12:48:00,1500,48.835475,2.322378,https://www.leboncoin.fr/ad/locations/2901998278,2.0,34.0